{
  "printWidth": 220,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "objectWrap": "preserve",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
